<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>VimKeys</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<key>InputMethodConnectionName</key>
	<string>VimKeys_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>VimInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>VimInputController</string>

	<key>TISInputSourceID</key>
	<string>com.vimkeys.inputmethod</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<false/>

	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.vimkeys.inputmethod.vim</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.vimkeys.inputmethod.vim</string>
				<key>TISIntendedLanguage</key>
				<string>en</string>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smRoman</string>
				<key>tsInputMethodCharacterRepertoireKey</key>
				<array>
					<string>Latn</string>
				</array>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.vimkeys.inputmethod.vim</string>
		</array>
	</dict>
</dict>
</plist>
